<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- 1) Default Document: clear inherited list, then add index.php -->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.php" />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- 2) Don't let IIS swallow app errors -->
    <httpErrors existingResponse="PassThrough" />

    <!-- 3) URL Rewrite: block dotfiles, route all to public/index.php -->
    <rewrite>
      <rules>

        <!-- Block hidden dot-files (e.g., .env) -->
        <rule name="Block hidden dot files" stopProcessing="true">
          <match url="(^|/)\.(?!well-known/)" />
          <action type="CustomResponse" statusCode="404" />
        </rule>

        <!-- Laravel front controller -->
        <rule name="Laravel Front Controller" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
          <serverVariables>
            <!-- pass bearer tokens / auth header through -->
            <set name="HTTP_AUTHORIZATION" value="{HTTP_AUTHORIZATION}" />
          </serverVariables>
        </rule>

      </rules>
    </rewrite>

    <!-- 4) (Optional) block sensitive paths on IIS level too -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment=".env" />
        </hiddenSegments>
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
